/***
      cart
            ***/

.header__cart {
  text-align: center;
  cursor: pointer;
}
.header__cart__img {
  display: inline-block;
  font-size: 2.5em;
  line-height: 1;
  vertical-align: middle;
}
.header__cart__price {
  display: inline-block;
  margin-left: .5em;
  font-size: .8em;
  vertical-align: middle;
}
#modalCartBody td {
  vertical-align: middle;
}
.modalCart__img {
  width: 20%;

  & > img {
    display: block;
    width: 100%;
  }
}
.modalCart__name {
  font-size: .9em;
}
.modalCart__price {
  font-size: .8em;
}
.modalCart_remove {
  font-size: 1.3em;
  cursor: pointer;
}
#totalCost {
  text-align: right;
  color: #85ad74;
}

#orderForm {
  display: none;
}
#order {
  display: none;
}

#successOrder {
  display: none;
  padding: .5em;
  border: 1px solid #85ad74;
  color: #85ad74;
}
