/***
      .footer
              ***/

.catalog > h2 {
  padding-bottom: 0;
}

.catalog-section {
  text-align: center;
}

.catalog-item {
  display: inline-block;
  width: 188px;
  margin: 0 25px 10px;
  padding: 5px;
  border: 1px solid rgba(255,255,255,0);
  text-align: center;
  border-radius: 5px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

  &:hover {
    border-color: rgb(244,175,198);
    cursor: pointer;
  }
}

.catalog-item__img > img {
  width: 100%;
}

.catalog-item__name {
  padding: 0;
  margin: 3px 0;
  color: #4e4e4e;
  font-size: .875em;
  line-height: 1;
}
.catalog-item__price {
  margin: 5px 0 0 0;
  color: #85ad74;
  font-size: .75em;
}
