



.categories__item {
  height: 300px;
  padding: 2px;
  position: relative;
}

.categories__item__img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}
.categories__item__img_dresses {
  background-image: url(/img/assortment/asrt-dresses.jpg);
}
.categories__item__img_blouses {
  background-image: url(/img/assortment/asrt-blouses.jpg);
}
.categories__item__img_skirts {
  background-image: url(/img/assortment/asrt-skirts.jpg);
}
.categories__item__img_pants {
  background-image: url(/img/assortment/asrt-pants.jpg);
}

.categories__item__anchor {
  display: block;
  width: 100%;
  height: 100%;
  padding: 250px 3% 0 0;
  text-align: right;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;

  &,
  &:active,
  &:visited,
  &:focus {
    background-color: rgba(240, 108, 152, 0);
    color: rgba(240, 108, 152, 0);
  }
  
  &:hover {
    background-color: rgba(240, 108, 152, .1);
    color: rgba(240, 108, 152, 1);
  }
}
