



#item-primary-photo {
  display: block;
  width: 100%;
}

.dv__photos {
  padding-top: 10px;
  text-align: center;
}
.dv__small-photo {
  display: inline-block;
  width: 30%;
  margin: 0 5px;
  cursor: pointer;
}

.dv__info {
  text-align: center;
}

.dv__price {
  margin: 10px 0;
  font-size: 1.1em;
  color: #85ad74;
}

#successfulAddToCart {
  display: none;
  margin-top: .5em;
  padding: .5em;
  border: 1px solid #85ad74;
  color: #85ad74;
}
