/***
      .sizes
              ***/

.sizes {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
}
.sizes tr:nth-child(2n) {
  background: #fce7ed;
}
.sizes th {
  width: 25%;
  border: 1px solid #e66761;
  padding: 15px 0;
  font-size: .85em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.sizes td {
  width: 25%;
  border: 1px solid #e66761;
  padding: 10px 0;
  text-align: center;
}
