//@import "partials/_normalize.scss";
//@import "includes/_grid.scss";
@import "includes/_variables.scss";
@import "includes/_mixins.scss";
@import "includes/_font-awesome.scss";

body, html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.42;
  color: #4e4e4e;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin: 0;
  padding: .6em 0 .3em 0;
  font-size: 3em;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 1em 0 .5em 0;
  font-size: 2em;
  text-align: center;
}

ul {
  padding: 0;
  list-style: none;
}

a,
a:hover,
a:focus,
button {
  text-decoration: none;
  outline: none;
}

// custom classes
.font_jso {
  font-family: 'Julius Sans One', sans-serif;
}

.btn-eltalla {
  background-color: #f6cfd7;
  color: #953146;
}

@media (min-width: 768px) {
  .va_mid {
    display: inline-block;
    float: none;
    vertical-align: middle;
  }
}

// import partials
@import "partials/_header.scss";
@import "partials/_footer.scss";

@import "partials/_mainpage.scss";
