/***
      .footer
              ***/

.footer__info_wrapper {
  background-color: #e5e5e5;
}
.footer__info {
  padding: 20px;
  color: #4e4e4e;
}
.footer__info__item__header {
  text-transform: uppercase;
}
.footer__info__item {
  margin: 0;
}
.footer__info__item > li {
  display: block;
  padding: .1875em;
}
.footer__info__item > li > a {
  display: block;
  color: #4e4e4e;

  &:hover {
    color: #4e4e4e;
  }
}

.footer__copy {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background: #333;
}
.footer__copy__rights {
  font-size: .875em;
  color: #999;
}
.footer__copy__shop-name {
  margin-top: 5px;
  text-decoration: none;
  font-size: 3.125em;
  line-height: 1.2em;
  color: #fff;

  &:hover {
    color: #fff;
  }
}

@media (max-width: 768px) {
  .footer__info__item__header {
    margin-bottom: 2px;
  }
  .footer__info__item {
    margin-bottom: 1.5em;
  }
}
