/***
      .header
              ***/

.header__contacts {
  text-align: center;
}
.header__contacts__phone {
  font-size: 1.1875em;
  line-height: 1.25em;
}
.header__contacts__worktime {
  font-size: .75em;
  line-height: .875em;
  color: #999;
}

.header__title {
  margin: 0;
  padding: 15px 0 0 0;
  font-size: 1.25em;
  line-height: 1;
  color: #000;
  text-transform: uppercase;
}
.header__shop-name {
  text-align: center;

  & > a {
    font-size: 3.125em;
    line-height: 1.2em;
    color: #000;
  }

  & > a:hover {
    color: #000;
  }
}

.nav_wrapper {
  width: 100%;
  background: #000;
}
.nav__menu__items {
  margin: 0;
  text-align: center;
}
.nav__menu__items > li {
  display: inline-block;
  height: auto;

  & > a {
    display: block;
    padding: .3em 15px;
    text-transform: uppercase;
    font-size: 1.125em !important;
    line-height: 1;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  & > a:hover {
    text-decoration: none;
    color: #000;
    background-color: #fff;
  }
}



@media (max-width: 768px) {
  .header__contacts {
    padding-top: 1em;
  }
  .header__shop-name {
    margin: 1em 0;

    & > a {
      font-size: 2em;
    }
  }
  .header__title {
    margin-bottom: 1em;
    padding: 0;
  }
}
